<!DOCTYPE html>
{% load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'core/style.css' %}">
</head>
<body>
    <div id="pagebutton">
        <a href="/home" class="button">Início</a>
        <a href="/listcli"  class="button">Listar clientes</a>
        <a href="/registercli" class="button">Cadastrar cliente</a>
        <a href="/listprod" class="button">Listar produtos</a>
        <a href="/categorias" class="button">Categorias</a>
        <a href="/registerpro" class="button">Cadastrar produtos</a>
    </div>
    <button onclick="window.print()">teste</button>
</body>
</html>